fpvenv/*
documents/*
env/*
db.sqlite3
*.pyc
.vscode/**
settings.ini
documents/**
.coverage
/venv/
.idea/**
cloud_sql_proxy
media/documents/**
media/schema/**
chart/Chart.lock
chart/charts/**
media/chat_documents/**
updadump.rdb
.notes/*
media/message_files/**
media/avatars/**
.scannerwork/**
